<!-- form_for outdated -->
<h1><%= title %></h1>
<%= form_for @task do |f| %>
<%= f.label :name %>
<p><%= f.text_field :name %></p>
<p><%= f.label :description %></p>
<p><%= f.text_area :description %></p>
<p><%= f.label :completion_date %></p>
<p><%= f.date_field :completion_date %></p>
<!-- # where is the update task in the submit button coming from? -->
<%= f.submit %>
<% end %>
