<h1>TASKLIST</h1>
<section>
  <nav>
    <p><strong><%= link_to "Add Task", new_task_path %></p>
    <p><strong> All Tasks </strong></p>
  </nav>
  <ol>
    <h2><strong>YOUR TASKS</strong></h2>
    <% @tasks.each do |task| %>
    <!-- cross over and add today's date if it is has a date-->
    <% if task.completion_date == nil %>
    <li><a href="/tasks/<%= task.id %>" name="<%= task.name%>"><%= task.name%></a></li>
    <% else %> -->
    <li><strike><a href="/tasks/<%= task.id %>" name="<%= task.name%>"><%= task.name%></a></strike></li>
    <%end%>

    <!-- task variable here is defined in the loop above
    button makes a hidden form, and by default hidden forms have a post verd which it will be looking for that in the
    route file, to change the verb call the method key word to change the verb to get which is what we have in our route file -->
    <p>Mark <%=task.completion_date%>   <!-- needs to be removed eventually -->
      <%= button_to "Edit", edit_task_path(task.id), method: :get %>
      <%= button_to "Delete", destroy_path(task.id), method: :delete, data: { confirm: "Are you sure?"}%>
      <%= button_to "Mark Complete", complete_path(task.id), method: :get%>
    </p>
    <% end %>
  </ol>
</section>
<footer>
  <p>copywrite 2017</p>
</footer>
