<h1>TASKLIST</h1>
<section>
  <nav>
    <p><strong><%= link_to "Add Task", new_task_path %></p>
    <p><strong> All Tasks </strong></p>
  </nav>
  <ol>
    <h2><strong>YOUR TASKS</strong></h2>
    <% @tasks.each do |task| %>
    <li><a href="/tasks/<%= task.id %>" name="<%= task.name%>"><%= task.name%></a></li>
    <!-- task variable here is defined in the loop above
    button makes a hidden form, and by default hidden forms have a post verd which it will be looking for that in the
    route file, to change the verb call the method key word to change the verb to get which is what we have in our route file -->
    <p>Mark <%=task.completion_date%> | <%= button_to "Edit", edit_task_path(task.id), method: :get %> | <%= button_to "Delete", destroy_path(task.id), method: :delete, data: { confirm: "Are you sure?"}%> </p>
    <% end %>
  </ol>
</section>
<footer>
  <p>copywrite 2017</p>
</footer>
